@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
.app-editPunch {
    display: flex;
    flex-direction: column;
}
.overall2 {
    box-shadow: 0px 7px 6px rgba(27, 32, 37, 0.158);
    border-radius: 2px;
    /* margin: 50px; */
    font-family: 'Cinzel', serif;
    font-weight: 200;
    width: auto;
    height: 400px;
    margin: 30px;
    background-color: #fcfcfc;
}
.overall2 {
    display: flex;
    flex-wrap: wrap;
    align-content: inherit;
}

.date, .day {
    align-self: center;
}

.timeTitle {
    margin: 5px;
}
.time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.save-cancel {
    align-self: flex-end;
}

.hour{
    align-self: center;
    margin: 5px;
    font-size: 34px;
}
.minute{
    align-self: center;
    margin: 5px;
    font-size: 34px;
}

.punchType2{ 
    align-self: center;
}

input {
    border: 1px solid gray;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
}

select {
    border: 1px solid black;
    display: inline-block;
    border-radius: 1px;
    padding: 5px 20px;
    width:auto; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
    calc(100% - 15px) calc(0.7em + 3px),
    calc(100% - 10px) calc(0.7em + 3px),
    calc(100% - 1em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
    width: auto;
}

.editTitle {
    font-family: 'Oswald' serif;
    font-size: 50px;
    font-weight: 300;
    align-self: flex-start;
    margin: 35px;
}

/* .day, .date, .time, .hour, .minute, .ampm, .punchType2, .save-cancel {
    border: solid 1px black;
} */