@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
.app-newPunch {
    box-shadow: 0px 7px 6px rgba(27, 32, 37, 0.158);
    border-radius: 2px;
    margin: 50px;
    font-family: 'Cinzel', serif;
    font-weight: 200;
    width: 900px;
    height: auto;
    background-color: #fcfcfc;
    /* text-align: center; */
}
.newTitle {
    margin: 10px;
    font-family: 'Oswald', serif;
    font-size: 50px;
    font-weight: 100;
    display: inline-flex;
    justify-content: center;
}
.overall {
    display: flex;
    justify-content:center;

}

.time {
    flex-direction: row;
    margin: 10px;
    font-size: 24px;
}
.hour, .minute{
    font-size: 28px;
}
.day, .date {
    /* float: right;
    position: absolute;
    left: 27%;
    top: 29.2%; */
    margin: 10px;
    font-size: 24px;
}
.punchType {
    /* position: absolute;
    left: 27%;
    top: 45%; */
    font-size: 24px;
    margin: 10px;
}

.timeInputs {
 /* display: flex;
 flex-direction: row; */
}
.ampm {  
}
.cancelBtn {
    background-color: #8c271e;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 10px;
    float: right;
    position: relative;
    bottom: 30px;
    left: 15%;
    color: white;
    cursor: pointer;
    transition: transform .2s;
}.cancelBtn:hover {
    transform: scale(1.1);
}
.createBtn {
    background-color: #007fba;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 10px;
    float: right;
    position: relative;
    bottom: 30px;
    right: 15%;
    cursor: pointer;  
    transition: transform .2s;
}.createBtn:hover{
    transform: scale(1.1);
}

/* .date, .time, .day, .timeInputs, .punchType {
    border: 1px solid;
} */